#choice1{
    display: none;
}
#choice2{
    display: none;
}
#choice3{
    display: none;
}
#choice4{
    display: none;
}
#scoreButton{
    display: none;
}
#saveButton{
    display: none;
}
#initialsPrompt{
    display: none;
}