/* hides buttons until question functions run */
#Q1choice1{
    display: none;
}
#Q1choice2{
    display: none;
}
#Q1choice3{
    display: none;
}
#Q1choice4{
    display: none;
}
#Q2choice1{
    display: none;
}
#Q2choice2{
    display: none;
}
#Q2choice3{
    display: none;
}
#Q2choice4{
    display: none;
}
#Q3choice1{
    display: none;
}
#Q3choice2{
    display: none;
}
#Q3choice3{
    display: none;
}
#Q3choice4{
    display: none;
}
#Q4choice1{
    display: none;
}
#Q4choice2{
    display: none;
}
#Q4choice3{
    display: none;
}
#Q4choice4{
    display: none;
}
#Q5choice1{
    display: none;
}
#Q5choice2{
    display: none;
}
#Q5choice3{
    display: none;
}
#Q5choice4{
    display: none;
}
#startButton{
    color: #2b2d30;
    width: 300px;
    font-size: large;
    margin: 1em auto;
    background-color: #66CCAA;
    padding: .5em;
}
/* shadow on hover for buttons */
#startButton:hover{
    box-shadow: .25em .25em .25em #2b2d30;
}
#scoreButton{
    display: none;
    color: #2b2d30;
    width: 300px;
    font-size: large;
    margin: 1em auto;
    background-color: #66CCAA;
    padding: .5em;
}
#scoreButton:hover{
    box-shadow: .25em .25em .25em #2b2d30;
}
#saveButton{
    display: none;
    color: #2b2d30;
    width: 300px;
    font-size: large;
    margin: 1em auto;
    background-color: #66CCAA;
    padding: .5em;
}
#saveButton:hover{
    box-shadow: .25em .25em .25em #2b2d30;
}
#initialsPrompt{
    display: none;
}
#restartButton{
    display: none;
    color: #2b2d30;
    width: 300px;
    font-size: large;
    margin: 1em auto;
    background-color: #66CCAA;
    padding: .5em;
}
#restartButton:hover{
    box-shadow: .25em .25em .25em #2b2d30;
}
#viewScores{
    display: none;
    color: #2b2d30;
    width: 300px;
    font-size: large;
    margin: 1em auto;
    background-color: #66CCAA;
    padding: .5em;
}
#viewScores:hover{
    box-shadow: .25em .25em .25em #2b2d30;
}
#clearScores{
    display: none;
    color: #2b2d30;
    width: 300px;
    font-size: large;
    margin: 1em auto;
    background-color: #66CCAA;
    padding: .5em;
}
#clearScores:hover{
    box-shadow: .25em .25em .25em #2b2d30;
}
body{
    text-align: center;
    font-size: larger;
    max-width: 75%;
    margin: auto;
    margin-top: 5em;
    background-color: #40806A;
    vertical-align: middle;
}
#quizArea, #scoreVal, #scoreList, #initialsInput, #initialsPrompt{
    background-color: #CCFFEE;
}
.choice{
    background-color: aquamarine;
    color: #2b2d30;
    width: 300px;
    font-size: large;
    margin: 1em auto;
    padding: .5em;
}
.choice:hover{
    box-shadow: .25em .25em .25em #2b2d30;
}